:root {
  --foreground-color: #0f0f0f;
  --background-color: #f0f0f0;
  --off-background-color: #f0f0f0bb;
  --highlight-soft: #00000020;
  --shadow-color: #00000020;

  --border-radius: 12px;
  --transition-time: 0.15s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --foreground-color: #f0f0f0;
    --background-color: #0f0f0f;
    --off-background-color: #0f0f0fbb;
    --highlight-soft: #ffffff15;
    --shadow-color: #00000080;
  }
}
